In [2]:
import pandas as pd
from sympy.categories import Category
from sympy.solvers.diophantine.diophantine import length

import utils

2025-10-21 15:11:49.259 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.261 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.262 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.263 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.264 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.265 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [69]:
df = utils.load_and_clean_data()

a = df["species"].value_counts()
list = a.index
#lista de la segunda varible
c = df["is_fatal_cat"].value_counts()
list2 = c.index


b= df.loc[( df["species"] == list[4] ) & (df["is_fatal_cat"] == list2[0] ),  "species" ].value_counts()

list

Index(['Desconocido', 'BULL_SHARK', 'WHITE_SHARK', 'TIGER_SHARK',
       'LEMON_SHARK'],
      dtype='object', name='species')

In [33]:
#lista de la primera variable
u
df

,year,is_fatal,activity,moon_phase,age,sex,season,day_part,country,species,conservation_status,conservation_description,is_fatal_cat
1,2025,Y,BODYBOARDING,WAXING_GIBBOUS,25.0,Masculino,SUMMER,PM,NEW CALEDONIA,BULL_SHARK,NT,LOWER_RISK,Fatal
4,2023,Y,SWIMMING,WANING_CRESCENT,59.0,Femenino,SUMMER,AM,NEW CALEDONIA,BULL_SHARK,NT,LOWER_RISK,Fatal
6,2023,N,SWIMMING,WAXING_GIBBOUS,49.0,Femenino,WINTER,AM,NEW CALEDONIA,BULL_SHARK,NT,LOWER_RISK,No Fatal
9,2021,N,FISHING,WANING_GIBBOUS,16.0,Femenino,SUMMER,PM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,No Fatal
10,2021,Y,SWIMMING,WANING_GIBBOUS,57.0,Femenino,SUMMER,AM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,Fatal
12,2020,Y,BODYBOARDING,WAXING_GIBBOUS,30.0,Masculino,WINTER,PM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,Fatal
15,2019,N,SWIMMING,WANING_GIBBOUS,10.0,Masculino,SUMMER,PM,NEW CALEDONIA,BULL_SHARK,NT,LOWER_RISK,No Fatal
17,2018,N,FISHING,WANING_CRESCENT,40.0,Femenino,SUMMER,PM,NEW CALEDONIA,BULL_SHARK,NT,LOWER_RISK,No Fatal
20,2016,Y,BODYBOARDING,WAXING_CRESCENT,69.0,Femenino,SUMMER,AM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,Fatal
25,2013,N,BODYBOARDING,WANING_GIBBOUS,37.0,Masculino,SUMMER,AM,NEW CALEDONIA,BULL_SHARK,NT,LOWER_RISK,No Fatal
26,2011,Y,SURFING,WAXING_GIBBOUS,15.0,Masculino,SUMMER,AM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,Fatal
29,2008,N,FISHING,NEW_MOON,24.0,Masculino,SUMMER,AM,NEW CALEDONIA,LEMON_SHARK,NT,LOWER_RISK,No Fatal
30,2008,N,FISHING,WAXING_CRESCENT,40.0,Femenino,SUMMER,PM,NEW CALEDONIA,BULL_SHARK,NT,LOWER_RISK,No Fatal
31,2008,N,SWIMMING,WAXING_GIBBOUS,32.0,Masculino,SUMMER,AM,NEW CALEDONIA,BULL_SHARK,NT,LOWER_RISK,No Fatal
32,2007,Y,SWIMMING,WANING_GIBBOUS,23.0,Femenino,WINTER,EAM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,Fatal
33,2007,N,SURFING,WANING_GIBBOUS,26.0,Masculino,SUMMER,AM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,No Fatal
35,2007,N,FISHING,FIRST_QUARTER,30.0,Masculino,SUMMER,EAM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,No Fatal
38,2000,Y,FISHING,WAXING_GIBBOUS,35.0,Masculino,SUMMER,AM,NEW CALEDONIA,TIGER_SHARK,NT,LOWER_RISK,Fatal

In [12]:
lista = [range(1,10)]

for x in lista:


    if x == lista[0]:


        df_vertical = pd.DataFrame({
        "hola": x,
        "andres": x,
        })


    else:
        df2 = pd.DataFrame({
            "hola": x,
            "  andres": x,})

        df_vertical = pd.concat([df_vertical, df2], axis=1)



df_vertical

   hola  andres
0     1       1
1     2       2
2     3       3
3     4       4
4     5       5
5     6       6
6     7       7
7     8       8
8     9       9

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'Nombre': ['Ana', 'Luis'], 'Edad': [23, 30]})
df2 = pd.DataFrame({'Nombre': ['Sofía', 'Carlos'], 'Edad': [27, 35]})

df_vertical = pd.concat([df1, df2], axis=0, ignore_index=True)
print(df_vertical)

frame_list.append(data.loc[len(data)] = [b1[0],b2[0]])

In [212]:
else:

            #Función que filtra
            b = df[(df["species"] == x) & (df["is_fatal_cat"] == y)].value_counts()
            if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({
                        "Categoria": b1[0],
                        b.name: b2[0]
                    })
                    data = pd.concat([data, data1], axis = 0)
                else:
                    data = pd.DataFrame({
                        "Categoria": b1[0],
                        b.name: [0],
                        })
                    data = pd.concat([data, data1], axis = 0)

IndentationError: unindent does not match any outer indentation level (<string>, line 14)

In [325]:
import pandas as pd
A = pd.DataFrame({"Categoria": ["A","B","C"], "Fatal":[760,0,0]}).set_index("Categoria")
B = pd.DataFrame({"No Fatal":[1855]}).set_index([pd.Index(["A"])])
# concat vertical y luego horizontal sin index consistente
tmp = pd.concat([A, B], axis=1)

tmp

   Fatal  No Fatal
A    760    1855.0
B      0       NaN
C      0       NaN

In [ ]:
a = df["species"].value_counts()
list = a.index
#lista de la segunda varible
c = df["is_fatal_cat"].value_counts()
list2 = c.index

#Nuevo DataFrame

#lista de dataframe
df_list= []
df.columns
for x in list1 :
    for y in list2 :
        if x == list2[1]:
            #Esecíficamos que al primer intento de la iteración se añaden las listas
            if x == list[0]:



                #Función que filtra
                b = df.loc[(df["species"] == x) & (df["is_fatal_cat"] == y), "species"].value_counts()
                #Establecemos que si no existe ningun resultado se escriba 0 para los resultados
                if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y

                    data = pd.DataFrame({
                        "Categoria": [b1[0]],
                        b.name: b2[0]
                    }, index = [b1[0]])

                else:

                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data = pd.DataFrame({
                        "Categoria": [x],
                        b.name: [0],
                    },index = [x])


            else:
                #Función que filtra
                b = df.loc[(df["species"] == x) & (df["is_fatal_cat"] == y), "species"].value_counts()

                if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({
                        "Categoria": [b1[0]],
                        b.name: b2[0]
                    },index = [b1[0]])
                    data = pd.concat([data, data1], axis = 0)
                else:

                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({
                        "Categoria": [x],
                        b.name: [0],
                        },index = [x])
                    data = pd.concat([data, data1], axis = 0)
        else:
            #Función que filtra
            b = df.loc[(df["species"] == x) & (df["is_fatal_cat"] == y), "species"].value_counts()

            if x == list[0]:

                if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data2 = pd.DataFrame({
                    b.name: [b2[0]]
                    }, index = [b1[0]])


                else:

                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data2 = pd.DataFrame({

                        b.name: [0],
                        },index = [b1[0]])

            elif x in list[1:len(list)-1]:

                if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({

                        b.name: [b2[0]]
                    },index = [b1[0]])
                    data2 = pd.concat([data2, data1], axis = 0)
                else:

                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({

                        b.name: [0],
                        },index = [x])
                    data2 = pd.concat([data2, data1], axis = 0)
            else:

                 if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({

                        b.name: [b2[0]]
                    },index = [b1[0]])
                    data2 = pd.concat([data2, data1], axis = 0)

                    data =pd.concat([data,data2], axis = 1)
                 else:

                     b1 = b.index
                     b2 = b.values
                     b.name = y
                     data1 = pd.DataFrame({

                        b.name: [0],
                        },index = [x])
                     data2 = pd.concat([data2, data1], axis = 0)
                     data =pd.concat([data,data2], axis = 1)

In [35]:
import plotly.express as px

long_df = px.data.medals_long()

long_df

        nation   medal  count
0  South Korea    gold     24
1        China    gold     10
2       Canada    gold      9
3  South Korea  silver     13
4        China  silver     15
5       Canada  silver     12
6  South Korea  bronze     11
7        China  bronze      8
8       Canada  bronze     12

In [63]:
a = df["species"].value_counts()
list = a.index
#lista de la segunda varible
c = df["is_fatal_cat"].value_counts()
list2 = c.index

#Nuevo DataFrame

#lista de dataframe
df_list= []
df.columns
#Revisa cada fila
for x in list :
    #Revisa una columna por cada fila
    for y in list2 :
        #filtramos
        b = df.loc[(df["species"] == x) & (df["is_fatal_cat"] == y), "species"].value_counts()
        #revisamos si es el inicio del programa (primera celda)
        if y == list2[0] and x == list[0]:

            if not b.empty:
                b1 = b.index
                b2 = b.values
                data = pd.DataFrame({
                    "species": [b1[0]]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [b2[0]]})
                data = pd.concat([data, data2,data3], axis = 1)

            else:
                data = pd.DataFrame({
                    "species": [x]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [0]})
                data = pd.concat([data, data2,data3], axis = 1)

        elif y == list2[0] and x  in list[1:len(list)]:
            if not b.empty:
                b1 = b.index
                b2 = b.values
                data = pd.DataFrame({
                    "species": [b1[0]]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [b2[0]]})
                data = pd.concat([data, data2,data3], axis = 1)

            else:
                data = pd.DataFrame({
                    "species": [x]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [0]})
                data = pd.concat([data, data2,data3], axis = 1)


        else:
            if not b.empty:
                b1 = b.index
                b2 = b.values
                data1 = pd.DataFrame({
                    "species": [b1[0]]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [b2[0]]})
                data4 = pd.concat([data1, data2,data3], axis = 1)

                data = pd.concat([data4,data], axis = 0 )
            else:
                data1 = pd.DataFrame({
                    "species": [x]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [0]})
                data4 = pd.concat([data1, data2,data3], axis = 1)

                data = pd.concat([data4,data], axis = 0 )



data

       species is_fatal_cat  count
0  LEMON_SHARK        Fatal      0
0  LEMON_SHARK     No Fatal      1

In [71]:

a = df["species"].value_counts()
list = a.index
#lista de la segunda varible
c = df["is_fatal_cat"].value_counts()
list2 = c.index

#Nuevo DataFrame

#lista de dataframe
df_list= []
df.columns
#Revisa cada fila
for x in list :
    #Revisa una columna por cada fila
    for y in list2 :
        #filtramos
        b = df.loc[(df["species"] == x) & (df["is_fatal_cat"] == y), "species"].value_counts()
        #revisamos si es el inicio del programa (primera celda)
        if y == list2[0] and x == list[0]:

            if not b.empty:
                b1 = b.index
                b2 = b.values
                data = pd.DataFrame({
                    "species": [b1[0]]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [b2[0]]})
                data = pd.concat([data, data2,data3], axis = 1)

            else:
                data = pd.DataFrame({
                    "species": [x]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [0]})
                data = pd.concat([data, data2,data3], axis = 1)


        else:
            if not b.empty:
                b1 = b.index
                b2 = b.values
                data1 = pd.DataFrame({
                    "species": [b1[0]]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [b2[0]]})
                data4 = pd.concat([data1, data2,data3], axis = 1)

                data = pd.concat([data4,data], axis = 0 )
            else:
                data1 = pd.DataFrame({
                    "species": [x]})
                data2 = pd.DataFrame({
                    "is_fatal_cat": [y]})
                data3 = pd.DataFrame({
                    "count": [0]})
                data4 = pd.concat([data1, data2,data3], axis = 1)

                data = pd.concat([data4,data], axis = 0 )



list

data

       species is_fatal_cat  count
0  LEMON_SHARK        Fatal      0
0  LEMON_SHARK     No Fatal      1
0  TIGER_SHARK        Fatal     75
0  TIGER_SHARK     No Fatal    183
0  WHITE_SHARK        Fatal    155
0  WHITE_SHARK     No Fatal    751
0   BULL_SHARK        Fatal    109
0   BULL_SHARK     No Fatal   1112
0  Desconocido        Fatal    760
0  Desconocido     No Fatal   1855