In [2]:
import pandas as pd
from sympy.categories import Category
from sympy.solvers.diophantine.diophantine import length

import utils

2025-10-21 15:11:49.259 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.261 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.262 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.263 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.264 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:11:49.265 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [4]:
df = utils.load_and_clean_data()

a = df["species"].value_counts()
list = a.index
#lista de la segunda varible
c = df["is_fatal_cat"].value_counts()
list2 = c.index


b= df.loc[( df["species"] == list[4] ) & (df["is_fatal_cat"] == list2[0] ),  "species" ].value_counts()

2025-10-21 15:12:02.092 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-10-21 15:12:02.093 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-21 15:12:02.150
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\BrenierComputer123\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-10-21 15:12:02.150 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-21 15:12:02.150 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-21 15:12:02.195 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-21 15:12:02.196 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [5]:
#lista de la primera variable

a = utils.tabla_bivariante(df = df, species= "species", is_fatal_cat= "is_fatal_cat" )
a

               Categoria  No Fatal  Fatal
Desconocido  Desconocido      1855    760
BULL_SHARK    BULL_SHARK      1112    109
WHITE_SHARK  WHITE_SHARK       751    155
TIGER_SHARK  TIGER_SHARK       183     75
LEMON_SHARK  LEMON_SHARK         1      0

In [12]:
lista = [range(1,10)]

for x in lista:


    if x == lista[0]:


        df_vertical = pd.DataFrame({
        "hola": x,
        "andres": x,
        })


    else:
        df2 = pd.DataFrame({
            "hola": x,
            "  andres": x,})

        df_vertical = pd.concat([df_vertical, df2], axis=1)



df_vertical

   hola  andres
0     1       1
1     2       2
2     3       3
3     4       4
4     5       5
5     6       6
6     7       7
7     8       8
8     9       9

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'Nombre': ['Ana', 'Luis'], 'Edad': [23, 30]})
df2 = pd.DataFrame({'Nombre': ['Sofía', 'Carlos'], 'Edad': [27, 35]})

df_vertical = pd.concat([df1, df2], axis=0, ignore_index=True)
print(df_vertical)

frame_list.append(data.loc[len(data)] = [b1[0],b2[0]])

In [212]:
else:

            #Función que filtra
            b = df[(df["species"] == x) & (df["is_fatal_cat"] == y)].value_counts()
            if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({
                        "Categoria": b1[0],
                        b.name: b2[0]
                    })
                    data = pd.concat([data, data1], axis = 0)
                else:
                    data = pd.DataFrame({
                        "Categoria": b1[0],
                        b.name: [0],
                        })
                    data = pd.concat([data, data1], axis = 0)

IndentationError: unindent does not match any outer indentation level (<string>, line 14)

In [325]:
import pandas as pd
A = pd.DataFrame({"Categoria": ["A","B","C"], "Fatal":[760,0,0]}).set_index("Categoria")
B = pd.DataFrame({"No Fatal":[1855]}).set_index([pd.Index(["A"])])
# concat vertical y luego horizontal sin index consistente
tmp = pd.concat([A, B], axis=1)

tmp

   Fatal  No Fatal
A    760    1855.0
B      0       NaN
C      0       NaN

In [ ]:
a = df["species"].value_counts()
list = a.index
#lista de la segunda varible
c = df["is_fatal_cat"].value_counts()
list2 = c.index

#Nuevo DataFrame

#lista de dataframe
df_list= []
df.columns
for y in list2 :
    for x in list :
        if y == list2[0]:
            #Esecíficamos que al primer intento de la iteración se añaden las listas
            if x == list[0]:



                #Función que filtra
                b = df.loc[(df["species"] == x) & (df["is_fatal_cat"] == y), "species"].value_counts()
                #Establecemos que si no existe ningun resultado se escriba 0 para los resultados
                if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y

                    data = pd.DataFrame({
                        "Categoria": [b1[0]],
                        b.name: b2[0]
                    }, index = [b1[0]])

                else:

                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data = pd.DataFrame({
                        "Categoria": [x],
                        b.name: [0],
                    },index = [x])


            else:
                #Función que filtra
                b = df.loc[(df["species"] == x) & (df["is_fatal_cat"] == y), "species"].value_counts()

                if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({
                        "Categoria": [b1[0]],
                        b.name: b2[0]
                    },index = [b1[0]])
                    data = pd.concat([data, data1], axis = 0)
                else:

                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({
                        "Categoria": [x],
                        b.name: [0],
                        },index = [x])
                    data = pd.concat([data, data1], axis = 0)
        else:
            #Función que filtra
            b = df.loc[(df["species"] == x) & (df["is_fatal_cat"] == y), "species"].value_counts()

            if x == list[0]:

                if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data2 = pd.DataFrame({
                    b.name: [b2[0]]
                    }, index = [b1[0]])


                else:

                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data2 = pd.DataFrame({

                        b.name: [0],
                        },index = [b1[0]])

            elif x in list[1:len(list)-1]:

                if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({

                        b.name: [b2[0]]
                    },index = [b1[0]])
                    data2 = pd.concat([data2, data1], axis = 0)
                else:

                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({

                        b.name: [0],
                        },index = [x])
                    data2 = pd.concat([data2, data1], axis = 0)
            else:

                 if not b.empty:
                    b1 = b.index
                    b2 = b.values
                    b.name = y
                    data1 = pd.DataFrame({

                        b.name: [b2[0]]
                    },index = [b1[0]])
                    data2 = pd.concat([data2, data1], axis = 0)

                    data =pd.concat([data,data2], axis = 1)
                 else:

                     b1 = b.index
                     b2 = b.values
                     b.name = y
                     data1 = pd.DataFrame({

                        b.name: [0],
                        },index = [x])
                     data2 = pd.concat([data2, data1], axis = 0)
                     data =pd.concat([data,data2], axis = 1)